.projects {
  padding: 4rem;
  background: #fff;
}

h1 {
  text-align: center;
}

.projects_container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.projects_wrapper {
  position: relative;
  width: 80%;
  flex-wrap: wrap;
}

.projects_items {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .projects_items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cards__item__text {
    color: #252e48;
    font-size: 16px;
    line-height: 18px;
  }
  .cards__wrapper {
    width: 80%;
  }
}
