.contact {
  background: #fff;
  padding: 50px 0 150px 0;
  font-family: 'Poppins', sans-serif;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
}

.contact .max-width {
  max-width: 1300px;
  padding: 0 20px;
  margin: auto;
}

.contact-content {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

/* Social Icons */
.social-icon-link-github {
  color: #211f1f;
  font-size: 3rem;
}

.social-icon-link-linkedin {
  color: #0e76a8;
  font-size: 3rem;
}

@media (max-width: 500px) {
  .social-icon-link-github,
  .social-icon-link-linkedin {
    font-size: 2rem;
  }
}

.social-media {
  max-width: 1000px;
  width: 100%;
}

.social-media-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

.social-icons-contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 150px;
}

.caldotcom-link a {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;

  text-decoration: none;
  display: inline-block;
  color: #252e48;
  border-bottom: 2px solid black;
  transition: border-bottom 0.2s ease, padding-bottom 0.2s ease, color 0.5s;
}

.caldotcom-link a:hover {
  border-bottom: 2px solid white;
}
